@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies Index</h2>

@if (@Model.Movie.Count == 0)
{
    <text>There were no movies in the database.</text>
}
else
{
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Movies</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var movie in @Model.Movie)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
       
    </table>
}




